@import "./src/css/reset.css";
@import './src/css/main.css';
@import './src/css/chat.css';

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    border: 1px solid #000;
}
ul li {

}
button:disabled {
    cursor: not-allowed;
}

header {
}
section {
    padding: 15px 0;
}
